<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div style="width: 1152px; height: 700px; position: relative; background: white">
      <div style="width: 64px; height: 64px; left: 978px; top: 200px; position: absolute; transform: rotate(-30deg); transform-origin: 0 0; background: #D62828; border-radius: 180px; overflow: hidden">
          <img src="/images/tabler_brand-linkedin.svg" style="width: 64px; height: 64px; left: 0px; top: 0px; position: absolute; border: 1.83px">
        </div>
      </div>
      <div style="width: 64px; height: 64px; left: 1033px; top: 333px; position: absolute; transform: rotate(-30deg); transform-origin: 0 0; background: #003049; border-radius: 180px; overflow: hidden">
        <div style="width: 32.33px; height: 32.33px; left: 15.97px; top: 16.34px; position: absolute; border: 1.83px #F77F00 solid"></div>
      </div>
     <div style="width: 64px; height: 64px; left: 1033px; top: 408px; position: absolute; transform: rotate(-30deg); transform-origin: 0 0; background: #F77F00; border-radius: 180px; overflow: hidden">
      <img src="/images/tabler_brand-figma.svg" alt="Description of the image" style="width: 64px; height: 64px;" >
      <div style="width: 28.18px; height: 38.22px; left: 20.60px; top: 14.31px; position: absolute">
     </div>
    </div>
      <div style="width: 64px; height: 64px; left: 1035px; top: 483px; position: absolute; transform: rotate(-30deg); transform-origin: 0 0; background: #FCBF49; border-radius: 180px; overflow: hidden">
        <div style="width: 32.33px; height: 32.33px; left: 16px; top: 16px; position: absolute">
          <div style="width: 32.33px; height: 32.33px; left: 0px; top: 0px; position: absolute; border: 1.83px #003049 solid"></div>
          <div style="width: 13.47px; height: 29.10px; left: 10.78px; top: 1.08px; position: absolute; border: 1.83px #003049 solid"></div>
          <div style="width: 31.97px; height: 23.80px; left: 0.18px; top: 4.94px; position: absolute; border: 1.83px #003049 solid"></div>
        </div>
      </div>
      <div style="width: 723px; height: 163px; left: 224px; top: 378px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; letter-spacing: 1.60px; word-wrap: break-word">7 Years in Tech. Personal Project Website.   Currently learning HTML & CSS </div>
      <div style="width: 278px; height: 35px; left: 403px; top: 315px; position: absolute; color: black; font-size: 34px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Nathan Mitchell</div>
      <img src="/images/Vector 1.png" style="width: 249px; height: 134px; left: 546px; top: 179px; position: absolute;">
      <div style="width: 84px; height: 14px; left: 94px; top: 621px; position: absolute; text-align: center; color: #353B43; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">scroll down</div>
      <img src="/images/group.svg" style="width: 22px; height: 22px; left: 69px; top: 617px; position: absolute">
        <div style="width: 7.33px; height: 3.67px; left: 7.49px; top: 8.85px; position: absolute; border: 1.83px #353B43 solid"></div>
        <div style="width: 22px; height: 22px; left: 0px; top: 0px; position: absolute; border: 1.83px #353B43 solid"></div>
      </div>
    </div>
  </body>
</html>

